@tailwind base;
@tailwind components;
@tailwind utilities;
@media print {
  input {
    border: none !important;
    background: transparent !important;
    appearance: none !important;
    -webkit-appearance: none !important;
  }
}